$default-primary-color: #448aff;
$default-secondary-color: #ffb944;
$default-danger-color: #f54e71;

button {
  border: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 8px 8px;
  width: 88px;
  outline: 0;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

.basic {
  background-color: transparent;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: #dfdfdf;
  }
  &.plain {
    color: #1a1a1a;
  }
  &.primary {
    color: var(--app-primary-color, $default-primary-color);
  }
  &.secondary {
    color: var(--app-secondary-color, $default-secondary-color);
  }
  &.danger {
    color: var(--app-danger-color, $default-danger-color);
  }
}

.raised {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.raised, .flat {
  &.primary {
    background-color: var(--app-primary-color, $default-primary-color);
    color: var(--app-primary-text-color, #ffffff);
  }
  &.secondary {
    background-color: var(--app-secondary-color, $default-secondary-color);
    color: var(--app-secondary-text-color, #1a1a1a);
  }
  &.danger {
    background-color: var(--app-danger-color, $default-danger-color);
    color: var(--app-danger-text-color, #ffffff);
  }

  .ripple {
    background: rgba(255, 255, 255, 0.4);
  }
}

.outline {
  background-color: transparent;
  border: 1px solid;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: #e0e0e0;
  }
  &.primary {
    border-color: var(--app-primary-color, $default-primary-color);
    color: var(--app-primary-color, $default-primary-color);
  }
  &.secondary {
    border-color: var(--app-secondary-color, $default-secondary-color);
    color: var(--app-secondary-color, $default-secondary-color);
  }
  &.danger {
    border-color: var(--app-danger-color, $default-danger-color);
    color: var(--app-danger-color, $default-danger-color);
  }
}

.ripple {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  transform: scale(0);
  position: absolute;
  opacity: 1;
  animation: rippleDrop .4s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
